* {
  --purple: #e97ab4;
  --orange: #e97ab4;
  --blue: #e97ab4;
  --red: #e97ab4;
  --green: #e97ab4;
  --black: #212121;
  --time: 0.2s ease;
}

.LinkItem {
  cursor: pointer;
  transition: var(--time);

  color: var(--black) !important;
}
.LinkItem:hover {
  color: var(--red) !important;
}
.shadows {
  text-shadow: 0px 0px 1px #00000071;
}
.port {
  padding-top: 120px !important;
}
.hello {
  padding-top: 120px !important;
}
.hello2 {
  padding-top: 105px !important;
}
.homer2 {
  margin-top: 110px !important;
}
@media screen and (max-width: 1000px) {
  .home {
    padding-top: 86px !important;
  }
  .homer2 {
    padding-top: 0px !important;
  }
  .port {
    padding-top: 40px !important;
  }
  .hello {
    padding-top: 86px !important;
  }
  .hello2 {
    padding-top: 72px !important;
  }
}

.rednav:hover {
  color: var(--red) !important;
}
.purplenav:hover {
  color: var(--purple) !important;
}
.bluenav:hover {
  color: var(--blue) !important;
}
.orangenav:hover {
  color: var(--orange) !important;
}
.greennav:hover {
  color: var(--green) !important;
}
.min-vh-75 {
  min-height: 100vh !important;
}
.min-vh-50 {
  min-height: 50 !important;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .min-vh-75 {
    min-height: auto !important;
  }
}
.Portcard {
  max-height: 36vh !important;
}
.Portcard img {
  transition: all 0.5s ease !important;
}
.Portcard:hover img {
  transform: scale(1.2) !important;
}
.transfromer {
  position: absolute;
  bottom: 0;
  transition: 0.5s ease;
  transform: translateY(55px);
}
.Portcard:hover .transfromer {
  transform: translateY(0px);
}
img {
  pointer-events: none !important;
}
.shopcard .card {
  cursor: pointer;
}
