* {
  text-decoration: none !important;
  list-style: none !important;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px !important;
}
a {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
*:focus,
*:active {
  outline: none !important;
  box-shadow: none !important;
}
* {
  --purple: #927abb;
  --orange: #ec535b;
  --blue: #4939bb;
  --red: #e97ab4;
  --green: #63c36b;
  --black: #212121;
  --time: 0.2s ease;
}
body {
  /*background-image: url(https://wallpapertag.com/wallpaper/full/b/1/4/403830-cool-white-background-2000x1333-htc.jpg);*/
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-attachment: fixed;
}
p {
}
/* bg */
.bg-purple {
  background-color: var(--purple);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-red {
  background-color: var(--red);
}
.bg-green {
  background-color: var(--green);
}
.bg-black {
  background-color: var(--black);
}
/* text */
.text-purple {
  color: var(--purple);
}
.text-orange {
  color: var(--orange);
}
.text-blue {
  color: var(--blue);
}
.text-red {
  color: var(--red);
}
.text-green {
  color: var(--green);
}
.text-black {
  color: var(--black);
}
/* border */
.border-purple {
  border: 1.5px solid var(--purple);
}
.border-orange {
  border: 1.5px solid var(--orange);
}
.border-blue {
  border: 1.5px solid var(--blue);
}
.border-red {
  border: 2px solid var(--red) !important;
}
.border-green {
  border: 1.5px solid var(--green);
}
.border-black {
  border: 1.5px solid var(--black);
}
.fp-watermark {
  display: none !important;
}
::-webkit-scrollbar {
  display: none;
}
.homer {
  scroll-snap-type: y mandatory !important;
  scroll-behavior: smooth !important;
}
.scroller::-webkit-scrollbar {
  display: block !important;
  height: 5px !important;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: var(--red) !important;
  cursor: grab !important;
  border-radius: 20px;
}
.scroller div {
  cursor: pointer !important;
}
@media screen and (max-width: 1500px) {
  .homer {
    scroll-snap-type: none !important;
    scroll-behavior: smooth !important;
  }
  .scroller::-webkit-scrollbar {
    display: none !important;
    height: 5px !important;
  }

  .scroller::-webkit-scrollbar-thumb {
    background-color: #4939bb !important;
    border-radius: 20px;
  }
}
p {
}
.seting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
